@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply h-full;
  @apply bg-darkGray text-white;
  @apply flex flex-col;
  @apply font-raleway;
}

body {
  @apply bg-no-repeat bg-cover;

  > header {
    @apply flex;
    @apply w-full;
    @apply md:px-8 lg:px-4;
    @apply py-4;

    @apply h-20;

    main {
      @apply flex justify-between items-center;
      @apply mx-auto;
      @apply px-8 lg:px-4;
      @apply w-full;
      @apply lg:max-w-4xl xl:max-w-6xl;

      > ul.navigation {
        @apply flex;
        @apply list-none;
        @apply justify-evenly gap-6 md:gap-10;
    
        li {
          @apply flex items-center;
          @apply border-b-4 border-transparent;
    
          a {
            @apply text-white;
            @apply font-raleway;
    
            &:hover,
            &:active {
              @apply text-neon;
            }
          }
        }
      }
    }
  }

  > main {
    @apply mb-auto;
    @apply flex flex-col gap-4;
  }

  > footer {
    @apply flex;
    @apply w-full;
    @apply md:px-8 lg:px-4;

    @apply bg-darkGray;
    @apply h-64;

    main {
      @apply flex flex-col items-start gap-3;
      @apply my-6 mt-12 mx-auto;
      @apply px-8 lg:px-4;
      @apply w-full;
      @apply lg:max-w-4xl xl:max-w-6xl;

      p {
        @apply w-full sm:w-3/5 md:w-2/5 lg:w-2/5 xl:w-1/4 text-sm;
      }
    }
  }
}

@layer base {
  
  .prose {
    a {
      @apply text-neon underline;
    }

    h1,h2,
    h3,h4,
    h5,h6 {
      @apply font-worksans text-neon font-bold;
      @apply my-8;
    }

    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
    h5 {
      @apply text-lg;
    }

    pre {
      max-height: 32rem;
    }

    p {
      @apply my-4;

      code {
        @apply px-2;
        &:before {
          content: none;
        }
        &:after {
          content: none;
        }
      }
    }

    pre {
      @apply my-8;
      @apply p-6;
    }

    blockquote {
      @apply border border-neon;
      @apply px-1 py-2;
      background-color: linear-gradient(to bottom, rgba(143, 255, 0, 1) rgba(143, 255, 0, .2));

      p {
        &:before {
          content: none;
        }
        &:after {
          content: none;
        }
      }
    }
  }
}