@import './prism.css', './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html,
body,
.wrapper {
	@apply h-full;
}

.svg-icon {
	@apply inline-flex;
	@apply self-center;
	@apply relative;

	> svg {
		height: 1em;
		width: 1em;
		stroke: none;
		fill: none;

		&.fill {
			@apply fill-current;
		}

		&.stroke {
			@apply stroke-current;
			@apply stroke-2;
			stroke-linecap: round;
			stroke-linejoin: round;
		}
	}
}

html {
	@apply bg-no-repeat bg-cover;
	background-image: linear-gradient(to bottom, #022840, #02141F);
	background-attachment: fixed;
}

body {
	@apply flex flex-col;
	@apply bg-no-repeat bg-cover;
	background-position: center 3rem;
	background-image: url('/images/bg-dark.svg');

	> main {
		@apply mb-auto;
		@apply flex flex-col gap-4;
	}
}

.stripe {
	@apply bg-stripe;
}

.topper {
	@apply flex justify-center;
	@apply mx-auto;
	@apply w-full;
	@apply lg:max-w-4xl xl:max-w-6xl;

	@apply text-white;

	.intro {
		@apply h-56 md:h-96;
		@apply w-5/6;
		@apply bg-contain bg-no-repeat;
		@apply bg-center;
		@apply flex justify-center items-center;

		background-image: url('/images/intro-dark.svg');

		&.twitch {
			@apply w-full;
			background-image: unset;

			iframe {
				@apply w-full;
				@apply h-full;
				aspect-ratio: 16/9;

				@screen md {
					width: unset;
				}
			}
		}
	}
}

.about {
	.aboutBody {
		@apply flex justify-evenly items-center;
		@apply mx-auto;
		@apply p-8 pb-0;
		@apply w-full;
		@apply lg:max-w-4xl xl:max-w-6xl;
		@apply text-base;

		@apply text-white;

		img {
			@apply hidden md:block;
			@apply -mt-32;
			height: min-content;
			width: 24em;
			min-height: 350px;
			@apply cursor-pointer;
		}

		div {
			@apply w-full md:w-1/2;
			@apply pb-8 md:pb-0 md:pl-6;

			h2 {
				@apply flex items-center;
				@apply font-cairo font-bold uppercase;
				@apply text-3xl md:text-4xl;

				span {
					@apply flex;
					@apply ml-1;
					@apply py-0 px-2;
					@apply text-darkGreen;
					@apply bg-meadow;
				}
			}

			p {
				@apply py-3;

				a {
					@apply text-neonYellow;
					@apply border-b-2 border-transparent;

					&:hover {
						@apply border-neonYellow;
					}
				}

				span {
					@apply ml-1;
					@apply pt-0 pb-1 px-2;
					@apply font-bold;
					@apply text-darkGreen;
					@apply bg-meadow;
				}
			}
		}
	}
}

.pageHeader {
	@apply w-full;
	@apply flex justify-between items-center;

	@apply my-6 mx-auto;
	@apply px-8 lg:px-4;
	@apply w-full;
	@apply lg:max-w-4xl xl:max-w-6xl;

	@apply text-white;

	.logo {
		@apply text-5xl;
	}

	.pageNav {
		@apply flex;
		@apply list-none;
		@apply justify-evenly gap-6 md:gap-10;
	
		li {
			@apply flex items-center;
			@apply border-b-4 border-transparent;
	
			@apply font-raleway font-bold;
			@apply text-gray-100;
	
			&:hover {
				border-image-slice: 1;
				border-image-source: linear-gradient(to right, #ff00ff, #00ffff);
			}

				&.toggle:hover {
					border-image-source: unset;
				}
		}
	}
}

.pageFooter {
	@apply px-8 py-8;
	@apply flex flex-row;
	@apply sm:gap-16;
	@apply md:px-16 md:pt-12;
	@apply font-raleway;

	section {
		@apply mx-auto;
		@apply w-full h-full;
		@apply lg:max-w-4xl xl:max-w-6xl;
		@apply flex flex-row items-center gap-20;
		flex: 0 1 auto;

		.logo {
			@apply hidden;
			@apply self-start;
			@apply sm:flex;
			@apply sm:w-64;
			@apply text-4xl;
			@apply text-neutral-300;

			svg {
				@apply w-full;
				@apply h-auto;
			}
		}

		nav {
			@apply flex gap-8 justify-between flex-row flex-wrap;
			@apply md:gap-20 md:justify-start;

			>ul {
				@apply flex flex-col gap-4;

				li {
					@apply uppercase;

					a {
						@apply flex items-center;
						@apply text-meadow;
					
						@apply font-normal;

						&.github:hover {
							span {
								@apply text-red-500;
							}
						}

						&.uses:hover {
							span {
								@apply text-purple-500;
							}
						}

						&.patreon:hover {
							span {
								@apply text-brand-patreon;
							}
						}

						.svg-icon {
							@apply mx-2;
						}
						
						&:hover {
							@apply text-neonYellow;
						}
					}

					&.socials {
						@apply pt-8;

						ul {
							@apply flex gap-3;
							@apply text-lg;

							.twitter:hover {
								@apply text-brand-twitter;
							}

							.linkedin:hover {
								@apply text-brand-linkedin;
							}

							.instagram:hover {
								@apply text-brand-instagram;
							}

							.youtube:hover {
								@apply text-brand-youtube;
							}

							.discord:hover {
								@apply text-brand-discord;
							}

							.twitch:hover {
								@apply text-brand-twitch;
							}
						}
					}
				}
			}
		}
	}
}

.socialBar {
	.social-bar {
		@apply flex flex-col justify-center items-center;
		@apply mx-auto;
		@apply py-12 px-8;
		@apply w-full;
		@apply lg:max-w-4xl xl:max-w-6xl;
		@apply text-base;

		@apply text-white;

		h2 {
			@apply flex items-center;
			@apply font-cairo font-bold uppercase;
			@apply text-3xl md:text-4xl;

			span {
				@apply flex;
				@apply ml-1;
				@apply py-0 px-2;
				@apply text-darkGreen;
				@apply bg-meadow;
			}
		}

		ul {
			@apply grid grid-cols-3 w-full gap-8;
			@apply md:flex md:w-5/6 md:justify-evenly;
			@apply mt-12;
			@apply text-6xl;

			li {
				@apply flex justify-center;
			}

			.twitter:hover {
				@apply text-brand-twitter;
			}

			.linkedin:hover {
				@apply text-brand-linkedin;
			}

			.instagram:hover {
				@apply text-brand-instagram;
			}

			.youtube:hover {
				@apply text-brand-youtube;
			}

			.discord:hover {
				@apply text-brand-discord;
			}

			.twitch:hover {
				@apply text-brand-twitch;
			}
		}
	}
}


.tagList {
	@apply flex flex-col justify-center items-center;
	@apply mx-auto;
	@apply py-12 px-8;
	@apply w-full;
	@apply lg:max-w-4xl xl:max-w-6xl;
	@apply text-base;

	@apply text-white;

	h1, h2 {
		@apply flex items-center;
		@apply font-cairo font-bold uppercase;
		@apply text-3xl md:text-4xl;

		span {
			@apply flex;
			@apply ml-1;
			@apply py-0 px-2;
			@apply text-darkGreen;
			@apply bg-meadow;
		}
	}

	ul {
		@apply mt-12;
		@apply grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-8;
		@apply list-none;

		li {
			@apply h-full;
			@apply text-xl;
			a {
				@apply text-neonYellow;
				&:hover {
					@apply text-white;
				}
			}
		}
	}
}

.cardList {
	@apply flex flex-col justify-center items-center;
	@apply mx-auto;
	@apply py-12 px-8;
	@apply w-full;
	@apply lg:max-w-4xl xl:max-w-6xl;
	@apply text-base;

	@apply text-white;

	h1, h2 {
		@apply flex items-center;
		@apply font-cairo font-bold uppercase;
		@apply text-3xl md:text-4xl;

		span {
			@apply flex;
			@apply ml-1;
			@apply py-0 px-2;
			@apply text-darkGreen;
			@apply bg-meadow;
		}
	}

	ul {
		@apply mt-12;
		@apply grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8;
		@apply list-none;

		li {
			@apply h-full;
		}
	}

	&:not(.full) {
		ul {
			li {
				&:not(:nth-child(-n + 2)) {
					@apply hidden;
				}
				
				@screen sm {
					&:not(:nth-child(-n + 2)) {
						@apply block;
					}
				
					&:not(:nth-child(-n + 4)) {
						@apply hidden;
						@apply xl:block;
					}
				}
			}
		}
	}
		
	.card {
		@apply flex flex-col overflow-hidden;
		@apply h-full;
		@apply rounded-md;
		@apply border-b-4 border-transparent;
		@apply bg-darkestGreen;
		
		img {
			@apply rounded-t-lg;
			padding: 1px;
		}

		.tags {
			@apply flex flex-row gap-2;
			@apply text-neonYellow;
			@apply px-5 pt-5;
			@apply text-sm;
			@apply mt-0;

			a:hover {
				@apply text-white;
			}
		}

		main {
			@apply flex flex-col gap-3;
			@apply p-5;


			h3 {
				@apply text-xl font-bold;
				@apply text-gray-200;
			}

			summary {
				@apply text-sm;
				@apply text-white;
			}

			p {
				@apply text-sm font-raleway;
				@apply text-gray-400;
			}
		}

		footer {
			@apply opacity-0;
			@apply uppercase;
			@apply text-meadow font-bold;
			@apply p-5 mt-auto;
			@apply flex align-middle gap-1;
		}

		&:hover {
			@apply border-meadow;
			@apply rounded-md;
			@apply shadow-2xl;

			main {
				h3 {
					@apply text-meadow;
				}
			}

			footer {
				@apply opacity-100;
			}
		}
	}

	.all {
		@apply font-bold font-cairo uppercase;
		@apply bg-stripe;
		@apply text-meadow;
		@apply py-3 px-5;
		@apply mt-12;
		@apply rounded-md;

		&:hover {
			@apply bg-meadow;
			@apply text-darkGreen;
		}
	}
}

.post {
	main {
		@apply flex flex-row lg:gap-8;
		@apply mb-12;
		@apply px-5 sm:px-3 md:px-0;

		@apply lg:max-w-4xl xl:max-w-6xl;
		@apply md:mx-auto;
		@apply items-start;

		aside {
			@apply hidden lg:flex flex-col;
			@apply z-0;
			@apply sticky;
			top: 105px;
			@apply lg:w-1/5;

			@apply text-gray-100;
		}

		.content {
			@apply mx-auto lg:mx-0;
			@apply w-full;
			@apply max-w-xl;
			@apply text-gray-100;

			h2,
			h3,
			h4,
			h5,
			h6 {
				@apply inline-block;
				@apply font-raleway font-bold;
				@apply py-1 px-3;
				@apply text-darkGreen;
				@apply bg-meadow;
				@apply my-8;
			}
			h1 {
				@apply inline-block;
				@apply font-raleway font-bold;
				@apply py-1;
				@apply text-4xl sm:text-5xl;
				@apply text-meadow;
			}
			h2 {
				@apply text-3xl;
			}
			h3 {
				@apply text-2xl;
			}
			h4,
			h5,
			h6 {
				@apply text-xl;
			}

			p {
				@apply text-lg;
				@apply py-3;
			}

			blockquote {
				@apply bg-stripe;
				@apply text-gray-200;
				@apply py-6 px-10 italic;
				@apply font-raleway;
				@apply text-sm;
				@apply rounded-sm;
			}

			img {
				@apply py-3;
			}

			a {
				@apply border-b border-transparent;
				@apply text-neonYellow;

				&:hover {
					@apply border-neonYellow;
				}
			}

			ul {
				@apply bg-stripe;
				@apply my-3;

				li {
					@apply p-3;

					&:not(:last-child) {
						@apply border-b border-darkGreen;
					}

					&:before {
						content: '';
						@apply inline-block;
						@apply h-full w-5;
						@apply p-2;
						@apply mr-4;
						@apply text-darkGreen;

						background-position: center;
						background-image: url('/images/check.svg');
						@apply bg-no-repeat;
					}
				}
			}

			p code {
				@apply p-1 mx-1 rounded-sm;
				@apply text-sm;
				@apply border-none;
				@apply bg-gray-700 text-white ;
			}

			pre {
				@apply rounded-md;

				code {
					@apply text-base not-italic;
					@apply bg-transparent;

					.remark-highlight-code-line {
						@apply block;
						background-color: rgba(255, 255, 255, .1);
					}
				}
			}

			.blog-topper {
				h1 {
					@apply font-raleway font-bold text-3xl md:text-4xl;
					@apply mb-0 sm:mb-4 p-4;
					@apply text-meadow bg-darketGreenOpaque-60;
				}
				summary {
					@apply list-none;
					@apply flex flex-col items-end sm:flex-row sm:items-center sm:justify-between;
					@apply text-neonYellow;

					ul {
						@apply flex flex-row gap-4;
						@apply list-none;
						@apply bg-transparent;

						&.date {
							@apply hidden sm:flex;
						}

						li {
							@apply p-0;
							@apply flex flex-row items-center;

							&:before {
								@apply hidden;
								@apply p-0;
								@apply m-0;
								background-image: unset;
							}

							&:not(:last-child) {
								@apply border-b-0;
								@apply pr-2;
							}

							a {
								@apply text-neonYellow;
								@apply text-2xl;
								@apply border-none;

								&:hover {
									&.twitter {
										@apply text-brand-twitter;
									}
									&.linkedin {
										@apply text-brand-linkedin;
									}
									&.facebook {
										@apply text-brand-facebook;
									}
									&.reddit {
										@apply text-brand-reddit;
									}
								}
							}

						}
					}
				}
			}

			label {
				@apply font-bold text-xl text-neonYellow;
			}

			textarea,
			input {
				@apply w-full p-2;
				@apply block border border-gray-100;
				@apply bg-stripe;
				@apply rounded-md;
			}

			button {
				@apply font-bold font-cairo uppercase;
				@apply bg-gray-200;
				@apply text-darkGreen;
				@apply py-3 px-5;
				@apply mt-12;
				@apply rounded-md;

				&:hover {
					@apply bg-neonYellow;
				}
			}
		}
	}
}

h2, h3 {
	scroll-margin-top: 16px;
}

/* Safari-only */
@supports (-webkit-hyphens:none) {
	h2,
	h3 {
		padding-top: 16px;
		margin-top: -16px;
	}
}

.toc {
	@apply bg-darketGreenOpaque-80;

	ul {
		@apply hidden;
		@apply lg:flex;
		@apply flex-col;
		@apply py-2;

		li {
			@apply text-sm;
			@apply py-2 px-4;
			@apply border-l-4 border-transparent;

			a {
				@apply text-gray-100;

				&:hover {
					@apply text-neonYellow;
				}
			}

			&.link--level3 {
				@apply pl-8;

				a {
					@apply text-gray-300;
				}
			}

			&.link--active {
				@apply border-neonYellow;
			
				a {
					@apply font-bold;
					@apply text-meadow;
				}
			}
		}
	}
}

.backToTop {
	@apply text-5xl;
	@apply fixed;
	@apply inset-x-auto;
	@apply bottom-0;
	@apply right-0;
	@apply z-30;
	@apply mb-6;
	@apply mr-6;
	@apply md:mb-12;
	@apply md:mr-12;
	@apply transition-opacity;
	@apply duration-500;
	@apply ease-in-out;
	@apply cursor-pointer;
	@apply text-meadow;

	a:hover {
		@apply text-neonYellow;
	}
}

.relatedPosts {
	> div {
		@apply flex flex-col justify-center items-center;
		@apply mx-auto;
		@apply py-12 px-8;
		@apply w-full;
		@apply lg:max-w-4xl xl:max-w-6xl;

		h2 {
			@apply flex items-center;
			@apply font-cairo font-bold uppercase;
			@apply text-3xl md:text-4xl;
			@apply text-white;

			span {
				@apply flex;
				@apply ml-1;
				@apply py-0 px-2;
				@apply text-darkGreen;
				@apply bg-meadow
			}
		}
	}
}

.dark {
	.topper {
		.intro {
			&.twitch {
				background-image: unset;
			}
		}
	}
	.blogCard {
		a:hover {
			box-shadow: 0 25px 50px -12px rgba(77, 67, 82,.9);
		}
	}
}
