@import './prism.css', './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html,
body,
.wrapper {
	@apply h-full;
}

.svg-icon {
	@apply inline-flex;
	@apply self-center;
	@apply relative;

	> svg {
		height: 1em;
		width: 1em;
		stroke: none;
		fill: none;

		&.fill {
			@apply fill-current;
		}

		&.stroke {
			@apply stroke-current;
			@apply stroke-2;
			stroke-linecap: round;
			stroke-linejoin: round;
		}
	}
}

body {
	@apply flex flex-col;
	@apply bg-lightGray dark:bg-darkGray;
	@apply font-raleway;

	@apply bg-no-repeat sm:bg-cover bg-blend-luminosity;
	background-image: url('/images/bg-light.svg');

	@screen sm {
			background-position: center 3rem;
	}

	&.dark {
		background-image: url('/images/bg-dark.svg');
	}

	> main {
		@apply mb-auto;
		@apply flex flex-col gap-4;
	}
}

.stripe {
	@apply bg-transparentWhite dark:bg-stripe;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.topper {
	@apply flex flex-col items-center text-center;
	@apply mx-auto;
	@apply w-full;
	@apply lg:max-w-4xl xl:max-w-6xl;
	@apply my-20 md:my-36;

	@apply text-white;

	h1 {
		@apply text-darkGray dark:text-white;
		@apply font-raleway font-bold;
		@apply text-5xl md:text-6xl;
		
		span {
			@apply text-purple;
		}
	}

	p {
		@apply text-center text-lg md:text-xl;
		@apply py-2;
		@apply w-5/6 sm:w-3/5 lg:w-1/2;

		@apply text-darkGray dark:text-white;

		&.small {
			@apply text-base;
			@apply mt-4;
		}

		a { 
			@apply text-purple;
			&:hover,
			&:active {
				@apply text-teal;
			}
		}
	}

	.twitchEmbed {
		@apply flex justify-center;
		@apply md:w-full;
		@apply h-44 md:h-96;
		@apply mt-16;

		iframe {
			@apply w-full;
			@apply h-full;
			aspect-ratio: 16/9;
	
			@screen md {
				width: unset;
			}
		}
	}
}

ul.socialBar {
	@apply flex gap-8;
	@apply text-xl;
	@apply mt-4;
	@apply text-purple;

	li {
		@apply flex justify-center;
	}
}

a {
	@apply text-purple;

	&:hover {
		@apply text-teal;
	}
}

.pageHeader {
	@apply w-full;
	@apply flex justify-between items-center;

	@apply my-6 mx-auto;
	@apply px-8 lg:px-4;
	@apply w-full;
	@apply lg:max-w-4xl xl:max-w-6xl;

	@apply text-white;

	.logo {
		@apply text-darkGray dark:text-white;
		@apply text-5xl;
	}

	.pageNav {
		@apply flex;
		@apply list-none;
		@apply justify-evenly gap-6 md:gap-10;
		@apply sm:mr-20;
	
		li {
			@apply flex items-center;
			@apply border-b-4 border-transparent;

			a {
				@apply text-purple underline;
				@apply font-raleway font-bold;

				&:hover,
				&:active {
					@apply text-teal;
				}
			}
		}
	}
}

.pageFooter {
	@apply px-8 py-8;
	@apply flex flex-row;
	@apply sm:gap-16;
	@apply md:px-16 md:pt-12;
	@apply font-raleway;

	section {
		@apply mx-auto;
		@apply w-full h-full;
		@apply lg:max-w-4xl xl:max-w-6xl;
		@apply flex flex-row items-center gap-20;
		flex: 0 1 auto;

		.logo {
			@apply hidden;
			@apply self-start;
			@apply sm:flex;
			@apply sm:w-64;
			@apply text-4xl;
			@apply text-neutral-300;

			svg {
				@apply w-full;
				@apply h-auto;
			}
		}

		nav {
			@apply flex gap-8 justify-between flex-row flex-wrap;
			@apply md:gap-20 md:justify-start;

			ul.socialBar {
				@apply gap-4;
			}

			>ul {
				@apply flex flex-col gap-4;

				li {
					@apply uppercase;

					a {
						@apply flex items-center;
						@apply text-purple;
					
						@apply font-normal;

						.svg-icon {
							@apply mx-2;
						}
						
						&:hover {
							@apply text-teal;
						}
					}

				}
			}
		}
	}
}

.tagList {
	@apply flex flex-col justify-center items-center;
	@apply mx-auto;
	@apply py-12 px-8;
	@apply w-full;
	@apply lg:max-w-4xl xl:max-w-6xl;
	@apply text-base;

	@apply text-white;

	h1, h2 {
		@apply flex items-center;
		@apply font-cairo font-bold uppercase;
		@apply text-3xl md:text-4xl;

		span {
			@apply flex;
			@apply ml-1;
			@apply py-0 px-2;
			@apply text-darkGreen;
			@apply bg-teal;
		}
	}

	ul {
		@apply mt-12;
		@apply grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-8;
		@apply list-none;

		li {
			@apply h-full;
			@apply text-xl;
			a {
				@apply text-neonYellow;
				&:hover {
					@apply text-white;
				}
			}
		}
	}
}

.cardList {
	@apply flex flex-col justify-center items-center;
	@apply mx-auto;
	@apply mb-24;
	@apply w-5/6;
	@apply lg:max-w-4xl xl:max-w-6xl;
	@apply text-base;

	@apply text-white;

	ul {
		@apply mt-12;
		@apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8;
		@apply list-none;

		li {
			@apply h-full;
		}
	}

	&:not(.full) {
		ul {
			li {
				&:not(:nth-child(-n + 2)) {
					@apply hidden;
				}
				
				@screen sm {
					&:not(:nth-child(-n + 2)) {
						@apply block;
					}
				
					&:not(:nth-child(-n + 4)) {
						@apply hidden;
						@apply xl:block;
					}
				}
			}
		}
	}
		
	.card {
		@apply flex flex-col overflow-hidden justify-between;
		@apply h-full;
		@apply rounded-md;
		@apply border-b-4 border-transparent;
		@apply bg-transparentWhite dark:bg-transparentGray;
		
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);

		img {
			@apply rounded-t-lg;
			padding: 1px;
		}

		a {
			@apply flex flex-col justify-between;
			@apply h-full;

			main {
				@apply flex flex-col gap-3;
				@apply p-5;


				h3 {
					@apply text-2xl font-bold;
					@apply text-purple;
				}

				p {
					@apply text-base font-raleway;
					@apply text-darkGray dark:text-white;
				}
			}

			footer {
				@apply opacity-0;
				@apply uppercase;
				@apply text-teal font-bold text-sm;
				@apply flex align-middle gap-1;
				@apply p-5 mt-auto;
			}
		}

		&:hover {
			@apply border-teal;
			@apply rounded-md;
			@apply shadow-2xl;

			main {
				h3 {
					@apply text-teal;
				}
			}

			footer {
				@apply opacity-100;
			}
		}
	}

	.all {
		@apply font-bold font-cairo uppercase;
		@apply bg-stripe;
		@apply text-teal;
		@apply py-3 px-5;
		@apply mt-12;
		@apply rounded-md;

		&:hover {
			@apply bg-teal;
			@apply text-darkGreen;
		}
	}
}

.post {
	main {
		@apply flex flex-row lg:gap-8;
		@apply mb-12;
		@apply px-5 sm:px-3 md:px-0;

		@apply lg:max-w-4xl xl:max-w-6xl;
		@apply md:mx-auto;
		@apply items-start;

		aside {
			@apply hidden lg:flex flex-col;
			@apply z-0;
			@apply sticky;
			top: 105px;
			@apply lg:w-1/5;

			@apply text-gray-100;
		}

		.content {
			@apply mx-auto lg:mx-0;
			@apply w-full;
			@apply max-w-xl;
			@apply text-darkGray dark:text-gray-100;

			h2,
			h3,
			h4,
			h5,
			h6 {
				@apply inline-block;
				@apply font-raleway font-bold;
				@apply text-teal;
				@apply my-8;
			}
			h1 {
				@apply inline-block;
				@apply font-raleway font-bold;
				@apply py-1;
				@apply text-4xl sm:text-5xl;
				@apply text-teal;
			}
			h2 {
				@apply text-3xl;
			}
			h3 {
				@apply text-2xl;
			}
			h4,
			h5,
			h6 {
				@apply text-xl;
			}

			p {
				@apply text-lg;
				@apply py-3;
			}

			blockquote {
				@apply bg-transparentWhite dark:bg-transparentGray;
				@apply text-darkGray dark:text-gray-200;
				@apply py-6 px-10 italic;
				@apply my-4;
				@apply font-raleway;
				@apply text-sm;
				@apply rounded-sm;

				strong {
					@apply text-purple;
				}
			}

			img {
				@apply py-3;
			}

			a {
				@apply text-purple underline;

				&:hover {
					@apply text-teal;
				}
			}

			ul {
				@apply bg-stripe;
				@apply my-3;

				li {
					@apply p-3;

					&:not(:last-child) {
						@apply border-b border-darkGreen;
					}

					&:before {
						content: '';
						@apply inline-block;
						@apply h-full w-5;
						@apply p-2;
						@apply mr-4;
						@apply text-darkGreen;

						background-position: center;
						background-image: url('/images/check.svg');
						@apply bg-no-repeat;
					}
				}
			}

			p code {
				@apply p-1 mx-1 rounded-sm;
				@apply text-sm;
				@apply border-none;
				@apply bg-gray-700 text-white ;
			}

			pre {
				@apply rounded-md;

				code {
					@apply text-base not-italic;
					@apply bg-transparent;

					.remark-highlight-code-line {
						@apply block;
						background-color: rgba(255, 255, 255, .1);
					}
				}
			}


			label {
				@apply font-bold text-xl text-teal;
			}

			textarea,
			input {
				@apply w-full p-2;
				@apply block border border-gray-100;
				@apply bg-stripe;
				@apply rounded-md;
			}

			button {
				@apply font-bold font-cairo uppercase;
				@apply bg-gray-200;
				@apply text-darkGreen;
				@apply py-3 px-5;
				@apply mt-12;
				@apply rounded-md;

				&:hover {
					@apply bg-teal;
				}
			}
		}
	}
}

h2, h3 {
	scroll-margin-top: 16px;
}

/* Safari-only */
@supports (-webkit-hyphens:none) {
	h2,
	h3 {
		padding-top: 16px;
		margin-top: -16px;
	}
}

.toc {	
	@apply bg-transparentWhite dark:bg-transparentGray;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	@apply rounded-md;

	ul {
		@apply hidden;
		@apply lg:flex;
		@apply flex-col;
		@apply py-2;

		li {
			@apply text-sm;
			@apply py-2 px-4;
			@apply border-l-4 border-transparent;

			a {
				@apply text-gray-500 dark:text-gray-400;

				&:hover {
					@apply text-teal;
				}
			}

			&.link--level3 {
				@apply pl-8;
			}

			&.link--active {
				@apply border-teal;
			
				a {
					@apply font-bold;
					@apply text-teal;
				}
			}
		}
	}
}

.backToTop {
	@apply text-5xl;
	@apply fixed;
	@apply inset-x-auto;
	@apply bottom-0;
	@apply right-0;
	@apply z-30;
	@apply mb-20;
	@apply mr-6;
	@apply md:mb-12;
	@apply md:mr-12;
	@apply transition-opacity;
	@apply duration-500;
	@apply ease-in-out;
	@apply cursor-pointer;
	@apply text-purple;


	svg {
		@apply bg-white dark:bg-darkGray;@apply rounded-full;
	}

	a:hover {
		@apply text-teal;
	}
}

.relatedPosts {
	> div {
		@apply flex flex-col justify-center items-center;
		@apply mx-auto;
		@apply py-12 px-8;
		@apply w-full;
		@apply lg:max-w-4xl xl:max-w-6xl;

		h2 {
			@apply flex items-center;
			@apply font-cairo font-bold uppercase;
			@apply text-3xl md:text-4xl;
			@apply text-white;

			span {
				@apply flex;
				@apply ml-1;
				@apply py-0 px-2;
				@apply text-darkGreen;
				@apply bg-teal
			}
		}
	}
}
