---
import BBB from '../icons/brands/BBB.astro';
---
  
<style lang="scss">
a {
  @apply text-gray-900 dark:text-white;
  @apply text-4xl;
}
</style>


<a href="/" title="Return home" class="home">
	<BBB/>
</a>