---

---
  
<ul class="pageNav">
  <li>
    <a
      href="/blog/"
      aria-label="Aggregated content Michael has generated"
      >Blog</a
    >
  </li>
  <li>
    <a
			rel="nofollow"
      href="https://bbb.dev/shop"
      aria-label="T-shirts, stickers, and other swag"
      >Swag</a
    >
  </li>
</ul>
