---
import BlogCard from '../BlogCard.astro';

  const allPosts = await Astro.glob('../../content/blog/**/*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
															.slice(0, 6);
---

<section class="latestPosts">
	<div class="cardList">
		<h2>Latest <span>Posts</span></h2>
		<ul>
		{
			sortedPosts.map((post) => 
				<li>
					<BlogCard post={post} />
				</li>
			)
		}
		</ul>
		<a class="all" href="/blog/" title="See all posts">See all posts</a
		>
	</div>
</section>
