---
import SocialBar from './SocialBar.astro';
import Twitch from './Twitch';
---

<section class="topper">
  <h1>Hi I'm <span>Michael</span>.</h1>
  <p>I'm bald. I'm bearded. I like to build stuff.</p>
  <SocialBar />
  <Twitch client:load />
</section>
