---
const { mentions, displayQuantity, displayLink } = Astro.props;

const avatars = [... new Set(mentions.filter(f => (f.author.photo || '').length > 0)
								.filter(f => (f.author.url || '') !== 'https://twitter.com/baldbeardbuild')
								.filter(f => (f.author.url || '') !== 'https://twitter.com/michaeljolley')
								.sort(((a, b) => (new Date(a['wm-received']) < new Date(b['wm-received'])) ? 1 : -1))
                                .map(f => {
                                    return {
                                    avatar: f.author.photo,
                                    url: f.url,
                                    }
                                }))];

const uniqueAvatars = Array.from(new Set(avatars.map(s => s.avatar)))
    .map(avatar => {
        return {
            avatar: avatar,
            url: avatars.find(s => s.avatar === avatar).url
        }
    })
    
const displayedAvatars = uniqueAvatars.slice(0, displayQuantity);

const remainingAvatars = (uniqueAvatars.length - displayedAvatars.length);

---
<div class="avatars">
    
    {
        displayedAvatars.map((avatar: any) => 
            <div class="avatar">
                {
                    displayLink && 
                    <a href={avatar.url} target="_blank">
                        <img src={avatar.avatar} />
                    </a>
                }

                {
                    !displayLink && 
                    <img src={avatar.avatar} />
                }
                
            </div>
        )
    }

    {
        remainingAvatars > 0 &&
            <div class="extra">
                <span>+{remainingAvatars}</span>
            </div>
    }
</div>