---
import IconCalendar from '../components/icons/Calendar.astro';
import SocialSharing from '../components/SocialSharing.astro';

export interface Props {
	title: string;
	date: string;
	description: string;
	tags: string[];
	permalink: string;
}
const { title, date, description, tags, permalink } = Astro.props;

const options = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}

---

<div class="blog-topper">
	<h1>{ title }</h1>
	<summary>
		<ul>
			<li><IconCalendar /></li>
			<li><time>{Intl.DateTimeFormat('us-EN', options).format(new Date(date))}</time></li>
		</ul>
		<SocialSharing {title} {tags} {description} {permalink}/>
	</summary>
</div>
