---
import IconArrow from './icons/Arrow.astro';

const {post} = Astro.props;
---

<a class="blogCard" href={ post.slug } title={ post.title }>
  <img alt={ post.title } src={ post.cover }/>
  <main>
    <h3>{ post.title }</h3>
    <p>{ post.summary }</p>
  </main>
  <footer>READ MORE <IconArrow /></footer>
</a>
