---
import IconCalendar from '../components/icons/Calendar.astro';
import IconClock from '../components/icons/Clock.astro';
import readingTime from 'reading-time';

export interface Props {
	title: string;
	date: string;
	source: string;
}
const { title, date, source } = Astro.props;

const options = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}

const stats = readingTime(source);

---

<div class="blog-topper">
	<h1>{ title }</h1>
	<summary>
		<div>
			<ul>
				<li>
					<IconCalendar />
				</li>
				<li>
					Published On<br />
					<time>{Intl.DateTimeFormat('us-EN', options).format(new Date(date))}</time>
				</li>
			</ul>
			<ul>
				<li>
					<IconClock />
				</li>
				<li>{ stats.text }</li>
			</ul>
		</div>
		<div>
			<!-- <SocialSharing :post="post" /> -->
		</div>
	</summary>
</div>