---
import IconArrow from './icons/Arrow.astro';

const options = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}

const {post} = Astro.props;
const slug = post.slug || 
             post.file.pathname.split('/')[post.file.pathname.split('/').length - 2];

---

<a class="blogCard" href={ `/blog/${slug}/` } title={ post.title }>
  <main>
    <h3>{ post.title }</h3>
		<summary>{ Intl.DateTimeFormat('us-EN', options).format(new Date(post.date)) }</summary>
    <p>{ post.summary }</p>
  </main>
  <footer>READ MORE <IconArrow /></footer>
</a>
