---
import Icon from "./Icon.astro";
import SocialBar from "./SocialBar.astro";
---

<footer>
  <main>
    <a href="/" title="Return home">
      <Icon icon="BBB" class="fill-pink w-12" />
      <span>Bald Bearded Builder</span>
    </a>
    <p>
      If you forget everything you've seen here, remember this: You are
      one-of-a-kind, you matter, and I believe in you.
    </p>
    <SocialBar />
  </main>
</footer>

<style lang="scss">
  footer {
    @apply flex;
    @apply w-full;
    @apply md:px-8 lg:px-4;

    @apply bg-darkBlue;
    @apply h-64;

    main {
      @apply flex flex-col items-start gap-3;
      @apply my-6 mt-12 mx-auto;
      @apply px-8 lg:px-4;
      @apply w-full;
      @apply lg:max-w-4xl xl:max-w-6xl;
      @apply text-white;

      a {
        @apply flex items-center;
        @apply text-white;
        @apply font-worksans font-bold text-xl;

        svg {
          @apply mr-4;
        }
      }

      p {
        @apply w-full sm:w-3/5 md:w-2/5 lg:w-2/5 xl:w-1/4 text-sm;
      }
    }
  }
</style>
