---
import LogoHoriz from './pageFooter/LogoHoriz.astro';
import IconVideoCamera from './icons/VideoCamera.astro';
import IconBrandPatreon from './icons/brands/Patreon.astro';
import IconHeart from './icons/Heart.astro';
import SocialBar from './SocialBar.astro';
---

<footer class="pageFooter stripe">
  <section>
    <div class="logo">
      <LogoHoriz />
    </div>
    <nav>
      <ul>
        <li>
          <a href="/code-of-conduct/" title="Code of Conduct">Code of Conduct</a>
        </li>
        <li>
          <a class="uses" href="/uses/" title="My gear & setup">What I'm Using <IconVideoCamera/></a>
        </li>
        <li>
          <a
						rel="nofollow"
            class="github"
            href="https://github.com/michaeljolley/michaeljolley"
            title="Crafted with love on GitHub"
            >Crafted with <IconHeart
          /></a>
        </li>
        <li class="socials">
          <SocialBar/>
        </li>
      </ul>
    </nav>
  </section>
</footer>
