---
import CardList from "./CardList.astro";
import Panel from "./Panel.astro";

const { items, alt } = Astro.props;
---

<Panel>
  <section>
    <h2>Tutorials</h2>
    <CardList items={items} alt={alt} />
  </section>
</Panel>

<style lang="scss">
  section {
    @apply flex flex-col;
    @apply my-8 mx-auto;
    @apply px-4;
    @apply w-full;
    @apply lg:max-w-4xl xl:max-w-6xl;

    h2 {
      @apply font-bold font-worksans text-pink;
      @apply text-3xl sm:text-4xl xl:text-5xl;
      @apply border-b border-dashed border-pink;
      @apply mb-4;
    }

    div {
      @apply grid gap-8 grid-cols-1 sm:grid-cols-2;

      img {
        @apply shadow-2xl;
      }

      aside {
        @apply flex flex-col gap-2;
        h3 {
          @apply font-bold font-worksans text-2xl xl:text-4xl;
        }
      }
    }
  }
</style>
