---
import IconBrandTwitter from './icons/brands/Twitter.astro';
import IconBrandTwitch from './icons/brands/Twitch.astro';
import IconBrandYouTube from './icons/brands/YouTube.astro';
import IconBrandInstagram from './icons/brands/Instagram.astro';
import IconBrandLinkedIn from './icons/brands/LinkedIn.astro';
import IconBrandDiscord from './icons/brands/Discord.astro';
---

<ul class="socialBar">
	<li>
		<a
			href="https://twitter.com/baldbeardbuild"
			rel="noreferrer"
			target="_blank"
			class="twitter"
			title="Follow the musings on Twitter"
		>
			<IconBrandTwitter
		/></a>
	</li>
	<li>
		<a
			href="https://twitch.tv/baldbeardedbuilder"
			rel="noreferrer"
			target="_blank"
			class="twitch"
			title="Check out the live streams on Twitch"
		>
			<IconBrandTwitch
		/></a>
	</li>
	<li>
		<a
			href="https://youtube.com/baldbeardedbuilder"
			rel="noreferrer"
			target="_blank"
			class="youtube"
			title="Subscribe, like & comment on YouTube videos"
		>
			<IconBrandYouTube
		/></a>
	</li>
	<li>
		<a
			href="https://www.instagram.com/baldbeardedbuilder/"
			rel="noreferrer"
			target="_blank"
			class="instagram"
			title="Follow the fun on Instagram"
		>
			<IconBrandInstagram />
		</a>
	</li>
	<li>
		<a
			href="https://www.linkedin.com/in/michaelwjolley/"
			rel="noreferrer"
			target="_blank"
			class="linkedin"
			title="Get professional on LinkedIn"
		>
			<IconBrandLinkedIn
		/></a>
	</li>
	<li>
		<a
			href="https://discord.gg/XSG7HJm"
			rel="noreferrer"
			target="_blank"
			class="discord"
			title="Join the Discord community"
		>
			<IconBrandDiscord
		/></a>
	</li>
</ul>
