---
import ImageSrcSet from "./ImageSrcSet.astro";
import Panel from "./Panel.astro";
---

<Panel class="community">
  <section>
    <h2>Want to See Behind the Scenes?</h2>
    <div>
      <aside>
        <h3>Join the Discord Community!</h3>
        <p>
          Our community is full of developers and techies of all skill levels.
          We love learning, sharing, and cheering each other onward. Besides the
          amazing support, you'll also get behind the scenes access to upcoming
          content and be able to contribute to each.
        </p>
        <p>
          <a
            href="https://discord.gg/XSG7HJm"
            rel="noreferrer"
            target="_blank"
            title="Join the Discord community">Join today</a
          > and introduce yourself!
        </p>
      </aside>
      <ImageSrcSet
        filename={"https://res.cloudinary.com/dk3rdh3yo/image/upload/v1669582934/computer_fr4kc3.png"}
        alt={"Image of Michael's computer"}
      />
    </div>
  </section>
</Panel>

<style lang="scss">
  .community {
    @apply bg-bottom bg-cover;
    background-image: url("https://res.cloudinary.com/dk3rdh3yo/image/upload/w_auto,c_scale,f_auto/v1669583095/office_nms1px.png");
    @apply bg-blend-luminosity;

    > section {
      @apply flex flex-col gap-8;
      @apply text-darkBlue font-raleway;
      @apply mx-auto;
      @apply px-8 lg:px-4;
      @apply w-full;
      @apply lg:max-w-4xl xl:max-w-6xl;
      @apply my-12;

      h2 {
        @apply font-bold font-worksans;
        @apply text-3xl sm:text-4xl xl:text-5xl;
      }

      div {
        @apply grid gap-8 grid-cols-1 sm:grid-cols-2;

        img {
          @apply shadow-2xl;
        }

        aside {
          @apply flex flex-col gap-2;
          h3 {
            @apply font-bold font-worksans text-2xl xl:text-4xl;
          }

          a {
            @apply text-pink underline;
          }
        }
      }
    }
  }
</style>
