---
import Logo from "./Logo.astro";
import SocialBar from "./SocialBar.astro";
---

<footer>
  <main>
    <Logo />
    <p>
      If you forget everything you've seen here, remember this: you are
      one-of-a-kind, you matter, and I believe in you.
    </p>
    <SocialBar />
  </main>
</footer>
