---
---

<style lang="scss">
  ul {
    @apply flex;
    @apply list-none;
    @apply justify-evenly gap-6 md:gap-10;

    li {
      @apply flex items-center;
      @apply border-b-4 border-transparent;

      a {
        @apply text-white;
        @apply font-raleway;

        &:hover,
        &:active {
          @apply text-pink;
        }
      }
    }
  }
</style>

<ul>
  <li>
    <a href="/blog/" aria-label="Blog posts">writing</a>
  </li>
  <li>
    <a href="https://bbb.dev/shop" aria-label="BBB Swag">shop</a>
  </li>
</ul>
