---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop';

let title = 'Michael Jolley is the Bald Bearded Builder';
let description = 'Home of Michael Jolley, the bald bearded builder, this site contains a collection of all blog posts, YouTube videos, Twitch streams, conference talks and more that Michael has generated.';
let permalink = 'https://baldbeardedbuilder.com/';
let tags = ['dotnet', 'javascript', 'developer-experience', 'learn-in-public'];

---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} {tags} />
	</head>

	<body>
		<Header />
		<main>
			<slot/>
		</main>
		<Footer/>
    <BackToTop />
	</body>
</html>
