---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"/>
	</head>

	<body>
		<Header />
		<div class="wrapper">
			<slot/>
		</div>
		<Footer/>
	</body>
</html>
